
<div class="header-container">
    <div class="logo-container">
      <!-- <img src="../../assets/logo-b.png" routerLink="" alt="Logo " class="logo" /> -->
    </div>
    <div class="menu-container">
      <div class="dropdown">
        <h2 class="drop-button" id="underline">Proyectos</h2>
        <div class="dropdown-content">
          <a routerLink="privada"
            >Residencial privada</a
          >
          <a routerLink="publica"
            >Residencial público</a
          >
  
          <a routerLink="unifamiliares"
            >Viviendas unifamiliares</a
          >
          <a routerLink="singulares"
            >Edificios singulares</a
          >
        </div>
      </div>
  
      <h2 routerLink="estudio" id="underline">Estudio</h2>
      <h2 routerLink="contacto"  id="underline">Contacto</h2>
    </div>
  </div>